h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .btn-success {
    background-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838; /* Đổi màu khi rê chuột vào */
  }

  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
  }
  
  .form-control:focus {
    border-color: #80bdff; /* Đổi màu khi ô được chọn */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    appearance: none;
  }
  
  .form-select:focus {
    border-color: #80bdff; /* Đổi màu khi ô được chọn */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .btn-secondary {
    background-color: #6c757d;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268; /* Đổi màu khi rê chuột vào */
  }
  .container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
      